<video width="356" height="200" controls>
  <source src="videos/autor.mp4" type="video/mp4">
  <source src="videos/autor.ogg" type="video/ogg">
Your browser does not support the video tag.
</video> 
<img src="images/autor.jpg" alt="Foto Autor" height="200" width="156">
<p><strong class="author">Albert Einstein</strong></p>
